---
layout: default
---

<article class="page-content">
    <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="page-subtitle">{{ page.subtitle }}</p>
        {% endif %}
    </header>
    
    <div class="page-body">
        {% if site.adsense.enabled and site.adsense.post_slot_id and page.collection == 'posts' %}
        <div class="ad-wrap ad-wrap--top">
            {% include adsense-inarticle.html slot_id=site.adsense.post_slot_id %}
        </div>
        {% endif %}
        {{ content }}
    </div>
</article>
